body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.main-section {
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(29, 42, 53);
    height: 100vh;
    margin-left: 15%;
}

.side-nav {
    top: 46px;
    position: absolute;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: rgb(21, 32, 43);
    list-style: none;
}

h2 {
    margin: 10px 0px;
    color: #cbc8c3;
    padding: 8px 16px;
    font-family: "Segoe UI", Arial, sans-serif;

}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #cbc8c3;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 2px 1px 1px 16px;
    font-size: 15px;
}

.side-nav a:hover:not(.active) {
    background-color: rgba(240, 240, 235, 0.308);
}